/* 
    float: block 요소를 inline 형태 처럼 사용
    - float: left or right만 가능
    - 단점: float 지정 시 해당 요소는 떠 있는 상태가 됨
      float 다음 요소들이 이전 요소가 있는지를 알 수 없기 때문에 같이 따라 올라가게 됨

      해결법
      - overflow:hidden
      - clear:both
      - 가상요소 사용(*추천)
      - 예전에 주로 사용 => 요즘에는 flex를 주로 사용
*/
.picture {
  float: right;
  margin-right: 20px;
  margin-bottom: 10px;
}

.picture img {
  vertical-align: top;
}

p {
  border: 10px solid blueviolet;
}
