* {
  margin: 0;
  padding: 0;
}

.parent {
  width: 500px;
  height: 300px;
  border: 1px solid red;
}

.child {
  max-width: 600px;
  min-width: 200px;
  height: 200px;
  background-color: orange;
}
