* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  border: 2px double darkcyan;
  width: 500px;
}

.container div {
  /* width: 100px; */
  height: 100px;
  border: 2px dashed black;
  flex-basis: 200px;
}

.container div:first-child {
  background-color: #4a90e2;
  /* order: 1; */
  /* flex-grow: 1; */
  flex-shrink: 1;
}

.container div:nth-child(2) {
  background-color: #50e3c2;
  /* order: 2; */
  flex-shrink: 2;
}

.container div:nth-child(3) {
  background-color: #f5a623;
  /* flex-grow: 3; */
  flex-shrink: 3;
}

.container div:nth-child(4) {
  background-color: #d0021b;
}

.container div:nth-child(5) {
  background-color: #702cbd;
  /* flex-grow: 1; */
}

.container div:last-child {
  background-color: #333333;
  /* order: -1; */
}
