p {
  font-style: oblique;
  font-weight: 900;
  font-size: 1.2em; /* 16 * 1.2 */
  /* 
    글꼴 : 설치된 글꼴
    글꼴 계열 : serif(바탕체), sanas-serif(고딕체), monosacpe(고정너비), cursive(필기체) 
  */
  font-family: "Courier New", Courier, monospace;
}

p.left {
  text-align: left;
  text-decoration: underline line-through overline;
}

p.right {
  text-align: right;
}

p.center {
  text-align: center;
}

p.justify {
  text-align: justify;
}

p.trancform {
  text-transform: uppercase;
}

p.shadow {
  /* x좌표 y좌표 흐림정도 색상 */
  text-shadow: 3px -3px 4px blue;
}

p.shadow {
  /* x좌표 y좌표 흐림정도 색상 */
  text-shadow: 0 1px red, 0 -1px red, 1px 0 red, -1px 0 red;
}

p.indent {
  /* -값은 내어쓰기, +값은 들여쓰기 */
  text-indent: 50px;
}
