/* 
    grid 레이아웃
    1. 부모에 적용하는 grid
    - display: grid
    - grid-template-columns: 컬럼 너비 지정
    - grid-auto-columns: auto -> content 양에 따라 열 자동 조절
    - grid-template-rows: 행 크기 지정
    - grid-auto-rows: auto -> content 양에 따라 행 자동 조절
    - gap: 컬럼 사이의 간격


    2. 자식에 적용하는 grid
    - grid-column: 1 / 4; -> grid 번호 1 ~ 4번까지 차지
    - grid-column: 1 / span 4; -> 1번 부터 4개를 차지
    - grid-row
    - justify-self
    - align-self
*/
.container {
  padding: 0.8em;
  background-color: lightgray;
  display: grid;
  /* grid-template-columns: 100px 200px 300px; */
  /* grid-template-columns: 30% 50% 20%; */
  /* grid-template-columns: 3fr 7fr; */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 2fr 3fr;
  grid-auto-rows: auto;
  gap: 1em;
  /* justify-items: end; */
  align-items: start;
}

.container > div {
  padding: 1em;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background-color: slateblue;
}

.container > div > span {
  /* display: inline; */
  display: none;
}

.container > div:first-child {
  /* grid-column: 2 / -2;
    grid-row: 1 / span 2; */
  grid-row: 1 / 5;
}

.container > div:nth-child(2) {
  grid-column: 3 / -1;
  grid-row: 1 / 2;
}

.container > div:nth-child(3) {
  justify-self: stretch;
  align-self: center;
}
