* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(9, 100, 160);
}

#container {
  width: 320px;
  margin: 50px auto;
}

.card {
  width: 300px;
  height: 500px;
  margin: 20px 10px;
  border: 1px solid gainsboro;
  background-color: white;
  position: relative;
}

.words {
  padding: 10px;
  text-align: center;
  position: absolute;
  top: 300px;
  left: 100px;
}

@media screen and (min-width: 1720px) {
  #container {
    width: 1710px;
    display: flex;
  }

  .card {
    width: 550px;
    height: 250px;
    margin: 10px;
  }

  .words {
    top: 50px;
    left: 300px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1719px) {
  #container {
    width: 570px;
  }

  .card {
    width: 550px;
    height: 250px;
    margin: 10px;
  }

  .words {
    top: 50px;
    left: 300px;
  }
}
