/* 
    반응형 웹
    min-width, max-width를 조절
    @media (max-width: 960px) {}
    @media (min-width: 481px) and (max-width: 767px) {}
    @media (min-width: 480px), (mix-width: 767px) {}
*/
* {
  padding: 0;
  margin: 0;
}

.container {
  height: 100px;
  background-color: yellow;
}

@media screen and (max-width: 960px) {
  .container {
    background-color: orange;
  }
}

@media screen and (max-width: 720px) {
  .container {
    background-color: green;
  }
}

@media screen and (max-width: 540px) {
  .container {
    background-color: red;
  }
}
