/* 
    background 이미지 변경
    0 ~ 320px : bg3.jpg
    321px ~ 768px : bg2.jpg
    769px ~ 1024px : bg1.jpg
    1025 ~ : bg0.jap
*/
body {
  background-image: url(../images/bg0.jpg);
  background-repeat: no repeat;
  background-attachment: fixed;
  background-size: cover;
}

@media (max-width: 1024px) {
  body {
    background: url(../images/bg0.jpg);
    background-size: cover;
  }
}

@media (max-width: 768px) {
  body {
    background: url(../images/bg1.jpg);
    background-size: cover;
  }
}

@media (max-width: 320px) {
  body {
    background: url(../images/bg2.jpg);
    background-size: cover;
  }
}
