/* 
    background 속성
    1) background-image
    - url() : 이미지 경로 지정
    2) background-repeat
    - repeat(기본값) : 이미지를 박스 요소 크기만큼 반복하여 배치
    - repeat-x : 이미지를 박스 요소 가로로 일렬 배치
    - repeat-y : 이미지를 박스 요소 세로로 일렬 배치
    - no-repeat : 반복하지 않음
    - space : 이미지가 일정 간격으로 박스 요소에 맞게 채워짐
    - around : 이미지가 안 잘리고 박스 요소에 딱 맞게 채워짐
    3) background-position
    - top left(기본값)
    - top, bottom, left, right, center
    - 100%, 가로, 세로 길이 임의로 지정
    4) background-size : auto(기본값)
    - contain : 전체 배경 영역에서 이미지의 어느 한쪽 긴 부분을 자동으로 맞추기
    - cover : 여백 공간 없이 이미지로 전체 배경 채우기(이미지가 잘릴 수 있음)
    5) background-attachment : 배경 이미지가 요소를 따라서 스크롤 여부 결정
    - scroll(기본값)
    - fixed : 배경 이미지가 viewport에 고정되어 요소와 같이 스크롤 되지 않음
*/
div {
  width: 464px;
  height: 328px;
  border: 1px solid orange;
  background-image: url(../images/orange-tile.png);
  /* background-image: url(../images/bg3.jpg); */
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: cover; */
}

body {
  background-image: url(../images/orange-tile.png);
  background-repeat: no-repeat;
  background-attachment: local;
}
