p {
  /* background-color: aquamarine; */
  background-color: rgb(0, 255, 0);
  /* color: #000; */
  /* color: rgb(255, 255, 255); */
  /* color: rgba(128, 0, 255, 0.4); */
  color: hsl(120, 0, 100%);
}
