/* 가상 요소 선택자 */
h1::before {
  content: "test ";
  color: burlywood;
}

h1::after {
  content: " 가상요소";
  color: cadetblue;
}

/* 형태 구조 선택자 : 태그로 선택 */
ol li:first-of-type {
  color: red;
}

ol li:last-of-type {
  color: blue;
}

ol li:nth-of-type(3) {
  color: orange;
}

ol li:nth-last-of-type(2) {
  color: pink;
}
