/* 자손 결합자 */
.outer li {
  color: violet;
}

/* 자식 결합자 */
.outer > li {
  color: blue;
}

.outer > li li {
  text-decoration: underline;
}

/* 
    형제 결합자 : ~, + 
    ~ : 뒤따르는 모든 요소들
    + : 뒤에 요소 하나만
*/
.starter ~ li {
  font-style: italic;
}

.starter + li {
  font-weight: bold;
}

/* 
    가상 클래스 : 특정 상황을 가정하고 이름을 붙임 
    :first-child
    :last-child
    :nth-child(3n-1) : 3n-1번째 해당하는 자손 요소 선택 ex) 2, 5, 8, ...
    :nth-child(odd) : 홀수번째 해당하는 자손 요소 선택 <=> even
    :hover : 마우스가 특정 요소에 올라갈 때

    a:link : 방문하지 않은 링크에 스타일 적용
    a:visited : 방문한 링크에 스타일 적용
    a:active : 요소를 활성화(마우스를 계속 누르고 있는 경우) 했을때 스타일 적용
*/
ol li:first-child,
ol li:last-child {
  color: yellowgreen;
}

.outer > li:not(:last-child) {
  text-decoration: line-through;
}

ol li:nth-child(3) {
  font-weight: bold;
  color: deeppink;
}

ol li:nth-child(3n-1) {
  background-color: antiquewhite;
}

ol li:nth-child(odd) {
  background-color: green;
}

li:hover {
  font-weight: bold;
  color: orange;
}

div a:link {
  text-decoration: none;
}

div a:active {
  color: black;
}

div a:visited {
  color: black;
}

div a:hover {
  text-decoration: underline;
}
